---
http_interactions:
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=start&ks=&partnerId=1851191&secret=d1be277fa0e84bde36b82deb1448a4cb&service=session&type=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api24
      X-Kaltura:
      - cached-dispatcher,61bc664e23131b8f1e038969c5841497,0.0010368824005127
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: "<xml><result>djJ8MTg1MTE5MXzS_Y7GGw4h6VHyCmGDoqwXhTO8bIR_SNGzej86fT0l9ElbC86_QpXc5KE4XPaRaOeSrfBsji3w4qR77u9s0Lne</result><executionTime>0.0010368824005127</executionTime></xml>"
  recorded_at: Wed, 20 Apr 2016 13:13:53 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=get&entryId=1_n4szfhnq&ks=djJ8MTg1MTE5MXzS_Y7GGw4h6VHyCmGDoqwXhTO8bIR_SNGzej86fT0l9ElbC86_QpXc5KE4XPaRaOeSrfBsji3w4qR77u9s0Lne&service=media&version=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api10
      X-Kaltura-Session:
      - '29484453'
      X-Kaltura:
      - cache-key,cache_v3-0e58f7788f1b7b064a65e19f10e846fc
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: '<?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaMediaEntry</objectType><mediaType>1</mediaType><conversionQuality>6910151</conversionQuality><sourceType>5</sourceType><searchProviderType></searchProviderType><searchProviderId></searchProviderId><creditUserName></creditUserName><creditUrl></creditUrl><mediaDate></mediaDate><dataUrl>http://cdnapi.kaltura.com/p/1851191/sp/185119100/playManifest/entryId/1_n4szfhnq/format/url/protocol/http</dataUrl><flavorParamsIds>0,487041,487051,487061,487071,853381,853391</flavorParamsIds><isTrimDisabled></isTrimDisabled><plays>1137</plays><views>2173</views><lastPlayedAt>1461128409</lastPlayedAt><width>802</width><height>450</height><duration>120</duration><msDuration>120000</msDuration><durationType></durationType><id>1_n4szfhnq</id><name>U.S.
        Morning Call: Apple&apos;s fight with the FBI heats up</name><description>The
        U.S. government says Apple deliberately raised tech barriers to prevent a
        warrant in the iPhone case. Shares in Finisar and Bojangles soar in pre-market
        on better-than-expected results.</description><partnerId>1851191</partnerId><userId>Charles.Hillman@thomsonreuters.com</userId><creatorId>Charles.Hillman@thomsonreuters.com</creatorId><tags></tags><adminTags>category201556,category200260,category201073,category201615,category201554,category201562,category200533,category201583,category201606,category201077,category300100,category300130,category400150,categoryri5141,category400647,category400811,categoryri0003,categoryri6001,categoryri6002,categoryri6003,geography100319,company4295905573,company4295913397,company4295903113,company4295905396,company4298052453,tag400764,tag4294966289,tag201107,tag404119,tag300157,tag400492,tag300130</adminTags><categories></categories><categoriesIds></categoriesIds><status>2</status><moderationStatus>6</moderationStatus><moderationCount>0</moderationCount><type>1</type><createdAt>1458686452</createdAt><updatedAt>1458686539</updatedAt><rank>0</rank><totalRank>0</totalRank><votes>0</votes><groupId></groupId><partnerData></partnerData><downloadUrl>http://cdnbakmi.kaltura.com/p/1851191/sp/185119100/raw/entry_id/1_n4szfhnq/version/0</downloadUrl><searchText>_PAR_ONLY_
        _1851191_ _MEDIA_TYPE_1|  U.S. Morning Call: Apples fight with the FBI heats
        up The U.S. government says Apple deliberately raised tech barriers to prevent
        a warrant in the iPhone case. Shares in Finisar and Bojangles soar in pre-market
        on better-than-expected results. category201556,category200260,category201073,category201615,category201554,category201562,category200533,category201583,category201606,category201077,category300100,category300130,category400150,categoryri5141,category400647,category400811,categoryri0003,categoryri6001,categoryri6002,categoryri6003,geography100319,company4295905573,company4295913397,company4295903113,company4295905396,company4298052453,tag400764,tag4294966289,tag201107,tag404119,tag300157,tag400492,tag300130</searchText><licenseType>-1</licenseType><version>0</version><thumbnailUrl>http://cfvod.kaltura.com/p/1851191/sp/185119100/thumbnail/entry_id/1_n4szfhnq/version/100001/acv/201</thumbnailUrl><accessControlId>1795031</accessControlId><startDate>1457703000</startDate><endDate></endDate><referenceId>1579058</referenceId><replacingEntryId></replacingEntryId><replacedEntryId></replacedEntryId><replacementStatus>0</replacementStatus><partnerSortValue>0</partnerSortValue><conversionProfileId>6910151</conversionProfileId><redirectEntryId></redirectEntryId><rootEntryId>1_n4szfhnq</rootEntryId><parentEntryId></parentEntryId><operationAttributes></operationAttributes><entitledUsersEdit></entitledUsersEdit><entitledUsersPublish></entitledUsersPublish><capabilities></capabilities><relatedObjects></relatedObjects></result><executionTime>0.042024850845337</executionTime></xml>'
  recorded_at: Wed, 20 Apr 2016 13:13:53 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=get&entryId=waffleman&ks=djJ8MTg1MTE5MXzS_Y7GGw4h6VHyCmGDoqwXhTO8bIR_SNGzej86fT0l9ElbC86_QpXc5KE4XPaRaOeSrfBsji3w4qR77u9s0Lne&service=media&version=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api2
      X-Kaltura-Session:
      - '1240539301'
      X-Kaltura:
      - cache-key,cache_v3-a60f94c6004fbd3c7942db555a3e07ad
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><error><objectType>KalturaAPIException</objectType><code>ENTRY_ID_NOT_FOUND</code><message>Entry
        id &quot;waffleman&quot; not found</message><args><item><objectType>KalturaApiExceptionArg</objectType><name>ENTRY_ID</name><value>waffleman</value></item></args></error></result><executionTime>0.029908895492554</executionTime></xml>
  recorded_at: Wed, 20 Apr 2016 13:13:54 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=list&ks=djJ8MTg1MTE5MXzS_Y7GGw4h6VHyCmGDoqwXhTO8bIR_SNGzej86fT0l9ElbC86_QpXc5KE4XPaRaOeSrfBsji3w4qR77u9s0Lne&service=media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api21
      X-Kaltura-Session:
      - '132635054'
      X-Kaltura:
      - cache-key,cache_v3-e61b8620dfda3d51157124194d9ebbc8
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaMediaListResponse</objectType><objects></objects><totalCount>0</totalCount><relatedObjects></relatedObjects></result><executionTime>0.059692144393921</executionTime></xml>
  recorded_at: Wed, 20 Apr 2016 13:13:54 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=list&ks=djJ8MTg1MTE5MXzS_Y7GGw4h6VHyCmGDoqwXhTO8bIR_SNGzej86fT0l9ElbC86_QpXc5KE4XPaRaOeSrfBsji3w4qR77u9s0Lne&pager%5BpageIndex%5D=2&service=media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api22
      X-Kaltura-Session:
      - '479134805'
      X-Kaltura:
      - cache-key,cache_v3-217221721f9ac8c045caa0b0bcd7932e
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaMediaListResponse</objectType><objects></objects><totalCount>0</totalCount><relatedObjects></relatedObjects></result><executionTime>0.067798137664795</executionTime></xml>
  recorded_at: Wed, 20 Apr 2016 13:13:54 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=list&filter%5BorderBy%5D=%2BcreatedAt&ks=djJ8MTg1MTE5MXzS_Y7GGw4h6VHyCmGDoqwXhTO8bIR_SNGzej86fT0l9ElbC86_QpXc5KE4XPaRaOeSrfBsji3w4qR77u9s0Lne&service=media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api31
      X-Kaltura-Session:
      - '1619468696'
      X-Kaltura:
      - cache-key,cache_v3-f76e951bb8deb4c20a145ed32ba8faf0
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaMediaListResponse</objectType><objects></objects><totalCount>0</totalCount><relatedObjects></relatedObjects></result><executionTime>0.054913997650146</executionTime></xml>
  recorded_at: Wed, 20 Apr 2016 13:13:54 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=list&filter%5BorderBy%5D=-createdAt&ks=djJ8MTg1MTE5MXzS_Y7GGw4h6VHyCmGDoqwXhTO8bIR_SNGzej86fT0l9ElbC86_QpXc5KE4XPaRaOeSrfBsji3w4qR77u9s0Lne&service=media
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api32
      X-Kaltura-Session:
      - '1757328394'
      X-Kaltura:
      - cache-key,cache_v3-078eb4c39c55cdbb5190305ec91520fa
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><objectType>KalturaMediaListResponse</objectType><objects></objects><totalCount>0</totalCount><relatedObjects></relatedObjects></result><executionTime>0.044616937637329</executionTime></xml>
  recorded_at: Wed, 20 Apr 2016 13:13:54 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=get&entryId=0_2vk9wpn9&ks=djJ8MTg1MTE5MXzS_Y7GGw4h6VHyCmGDoqwXhTO8bIR_SNGzej86fT0l9ElbC86_QpXc5KE4XPaRaOeSrfBsji3w4qR77u9s0Lne&service=media&version=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api23
      X-Kaltura-Session:
      - '797230078'
      X-Kaltura:
      - cache-key,cache_v3-238c34b13b173c3a41d8782a847e4f62
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><error><objectType>KalturaAPIException</objectType><code>ENTRY_ID_NOT_FOUND</code><message>Entry
        id &quot;0_2vk9wpn9&quot; not found</message><args><item><objectType>KalturaApiExceptionArg</objectType><name>ENTRY_ID</name><value>0_2vk9wpn9</value></item></args></error></result><executionTime>0.03010892868042</executionTime></xml>
  recorded_at: Wed, 20 Apr 2016 13:13:54 GMT
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=get&entryId=1_h30abwn2&ks=djJ8MTg1MTE5MXzS_Y7GGw4h6VHyCmGDoqwXhTO8bIR_SNGzej86fT0l9ElbC86_QpXc5KE4XPaRaOeSrfBsji3w4qR77u9s0Lne&service=media&version=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api28
      X-Kaltura-Session:
      - '88729084'
      X-Kaltura:
      - cache-key,cache_v3-406c015a9c6839c04[...]
- request:
    method: get
    uri: http://www.kaltura.com/api_v3/?action=start&ks=&partnerId=1851201&secret=7cbd774772933e4cd618e29794e71ca2&service=session&type=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Me:
      - ny-front-api7
      X-Kaltura-Session:
      - '1983226617'
      Content-Type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: <?xml version="1.0" encoding="utf-8"?><xml><result><error><objectType>KalturaAPIException</objectType><code>START_SESSION_ERROR</code><message>Error
        while starting session for partner [1851201]</message><args></args></error></result><executionTime>0.046998023986816</executionTime></xml>
  recorded_at: Mon, 25 Apr 2016 16:02:45 GMT
recorded_with: VCR 2.9.3
